/* Ataca a la seccion principal de adopciones*/
.seccion-principal-adopciones{
    margin: 0 5%;
}

#adopciones-grid-container{
    margin: 0 5%;

    .adopciones-grid-item{
        place-items: center;
        text-align: center;
        
        .adopciones-title{
            margin:0;
        }
        .img-adopciones{
            width: 70%;
            margin: 5%;
        }
    }
}

