.seccion-principal{
    margin: 2% 5%;
}

.donaciones{
    margin: 2% 5%;

    .donaciones-item{
        place-items: center;
        display: flex;
        justify-content: space-evenly;
        margin: 1%;
    }
}

.detalles-donaciones{
    display: flex;
    margin: 2% 5%;
    flex-direction: column;

    .explicacion-donaciones-container{
        @extend %grid-config;
        
        #objetivo-donaciones{
            margin-right: 5%;
        }
    }
}


#vid-donaciones{
    width: 80%;
}

