.seccion-principal{
    margin: 1% 5%;
}

.donaciones{
    margin: 1% 5%;

    .donaciones-item{
        place-items: center;
        display: flex;
        justify-content: space-evenly;
        margin: 1%;
    }
}

.detalles-donaciones{
    display: flex;
    margin: 1% 5%;
    flex-direction: column;

    .explicacion-donaciones-container{
        @extend %grid-config;
    }
}

#objetivo-donaciones{
    margin-right: 5%;
}

#img-donaciones{
    width: 80%;
}

