/* Estilo a la seccion principal de voluntariado*/
.seccion-principal-voluntariado{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    margin-top: 0.2%;
    height: 100vh;
    width: 100%;
    /* Mixin que incluye configuraciones para la bg image*/
    @include bg-image("https://i.postimg.cc/wBMh2W69/portada-voluntariado.jpg");

    /* Estilo al titulo y texto de la seccion ppal de voluntariado*/
    #title-voluntariado-container{
        width: 80%;
        font-size: 2.2em;
        color: nth($colors,2);
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 2%;

        /* Estilo al texto de la seccion ppal de voluntariado */
        #texto-principal-voluntariado{
            color: nth($colors,2);
            font-size: 0.9em;
        }
    }
}

.requisitos-voluntariado{
    display: flex;
    justify-content: center;
    margin: 4%;
    @extend %dashed-border;
}

